<% if ( item.link ) { %>
  <% 
    var _title = item.title || item.link

    if ( theme.linklog_marker ) {
      _title = theme.linklog_marker_position !== 'after' ?
                theme.linklog_marker + ' ' + _title :
                _title + ' ' + theme.linklog_marker
    }
  %>
  <% if ( item.title ) { %>
    <h2 class="title"><a href="<%- item.link %>" target="_blank"><%= _title %></a></h2>
  <% } else { %>
    <h2 class="title"><a href="<%- item.link %>" target="_blank"><%= _title %></a></h2>
  <% } %>
<% } else { %>
  <%
    var is_list_page = page.archive || page.tag || page.category 
    if ( index || is_list_page ) {
  %>
    <h2 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h2>
  <% } else { %>
    <h2 class="title"><%= item.title %></h1>
  <% } %>
<% } %>
