<%- partial('_partial/head') %>

<header id="header" class="inner page-header"><%- partial( '_partial/header' ) %></header>
<% if ( page.banner ) partial( '_partial/banner' ) %>
<div id="content" class="inner content"><%- body %></div>
<footer id="footer" class="inner page-footer"><%- partial( '_partial/footer' ) %></footer>
<%- partial( '_partial/after_footer' ) %>
