.follow_me
  - var services = theme.follow_me || config.follow_me || {}
  if ( services.facebook )
    a.facebook( href='https://www.facebook.com/#{ services.facebook }', title='Facebook' ) Facebook

  if ( services.github )
    a.github( href='https://github.com/#{ services.github }', title='GitHub' ) GitHub

  if ( services.googleplus )
    a.google( href='https://plus.google.com/#{ services.googleplus }', title='Google+' ) Google+

  if ( services.linkedin )
    a.linkedin( href='https://www.linkedin.com/in/#{ services.linkedin }', title='LinkedIn' ) LinkedIn

  if ( services.pinterest )
    a.pinterest( href='https://pinterest.com/#{ services.pinterest }', title='Pinterest' ) Pinterest

  if ( services.twitter )
    a.twitter( href='https://twitter.com/#{ services.twitter }', title='Twitter' ) Twitter

  if ( theme.rss || config.rss )
    a.rss( href='#{ theme.rss || config.rss }', title='RSS' ) RSS
