!!!

meta( charset='utf-8' )

- var title = []
- if ( page.current > 1 ) title.push( __( 'page', page.current ) )
- if ( page.title ) title.push( page.title )
- if ( page.category ) title.push( page.category )
- if ( page.tag ) title.push( page.tag )
- if ( page.archive )
  - if ( page.year )
    - title.push( __( 'archive_b', page.year + ( page.month ? '/' + page.month : '' ) ) )
  - else
    - title.push( __( 'archive_a') )
  - title.push( config.title )

title= title.join( ' | ' )

- if ( config.author )
  meta( name="author", content='#{ config.author }' )

- var _description
- if ( page.description )
  - _description = page.description
- else if ( config.description )
  - _description = config.description
- else if ( page.excerpt )
  - _description = strip_html( page.excerpt ).trim()
- else if ( page.content )
  - _description = strip_html( page.content ).trim().slice( 0, 150 )

meta( name="description", content="#{ _description }" )

- if ( page.keywords || config.keywords )
  meta( name="keywords", content="#{ page.keywords || config.keywords }" )

- if ( page.title )
  meta( property="og:title", content="#{ page.title }" )

meta( property="og:site_name", content="#{ config.title }" )

link( rel="shortcut icon", href="#{ config.root }favicon.ico" )

link( rel="alternate", href="#{ theme.rss || config.rss }", title="#{ config.title }", type="application/atom+xml" )

link( rel="stylesheet", href="#{ config.root }css/style.css", media="screen" )

<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
script( async, src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js" )

include google_analytics
