<article>
<header class='entry-header'><%- partial( 'post/title' ) %></header>
<%
  var is_list_page = page.archive || page.tag || page.category
  if ( !is_list_page ) {
%>
<div class="entry-content">
  <% if ( item.excerpt && index ) { %>
    <%- item.excerpt %>
    <a href="<%- config.root %><%- item.path %>#more" class="more-link"><%= theme.excerpt_link %></a>
  <% } else { %>
    <%- item.content %>
  <% } %>
  <%
    if ( index && item.link ) {
  %>
  <a class="permalink" href="<%= config.root + item.path %>"><%= theme.linklog.permalink_label || "&infin;" %></a>
  <% } %>
</div>
<% } %>
<footer class='entry-footer'>
  <%
    if ( item.layout !== 'page' ) {
      var _time = is_list_page ? item.date.format( theme.date_format.shorthand ) : item.date.format( config.date_format )
  %>
    <time datetime="<%= item.date.toDate().toISOString() %>"><%= _time %></time>
    <%- partial( 'post/category' ) %>
    <%- partial( 'post/tag' ) %>
    <% if ( !is_list_page ) { %><%- partial( 'post/share' ) %><% } %>
  <% } %>
</footer>
</article>
<%- partial( 'comment' ) %>
