<div class="follow_me">
<% if ( theme.follow_me.facebook ) { %>
<a class="facebook" href="http://www.facebook.com/<%= theme.follow_me.facebook %>" title="Facebook">Facebook</a>
<% } %>
<% if ( theme.follow_me.github ) { %>
<a class="github" href="https://github.com/<%= theme.follow_me.github %>" title="GitHub">GitHub</a>
<% } %>
<% if ( theme.follow_me.googleplus ) { %>
<a class="google" href="https://plus.google.com/<%= theme.follow_me.googleplus %>?rel=author" title="Google+">Google+</a>
<% } %>
<% if ( theme.follow_me.linkedin ) { %>
<a class="linkedin" href="http://www.linkedin.com/in/<%= theme.follow_me.linkedin %>" title="LinkedIn">LinkedIn</a>
<% } %>
<% if ( theme.follow_me.pinterest ) { %>
<a class="pinterest" href="https://pinterest.com/<%= theme.follow_me.pinterest %>" title="Pinterest">Pinterest</a>
<% } %>
<% if ( theme.follow_me.twitter ) { %>
<a class="twitter" href="http://twitter.com/<%= theme.follow_me.twitter %>" title="Twitter">Twitter</a>
<% } %>
<% if ( theme.rss ) { %>
<a class="rss" href="<%= theme.follow_me.rss %>" title="RSS">RSS</a>
<% } %>
</div>
